.App {
  text-align: center;
}

.viewComp {  
  box-shadow: 0 0 9px #aaa;
  background-color: #eee;
  margin: 20px auto;
  max-width: 52%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid;
}