.App {
  text-align: center;
}

.viewComp {
  box-shadow: 1px 1px 8px #333;
  background-color: #d6d6d6;
  margin: 20px auto;
  max-width: 768px;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.text-right {
  float: right;
}